body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ced6fd;
}

h1 {
  text-align: center;
  margin: 2rem;
}

#navbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  position: relative;
  cursor: pointer;
  border-style: solid;
  border-radius: 8px;
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-height: 200px;
  object-fit: cover;
}

.grid-item button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
}

.button-common {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  margin: 0;
}

#logout-button {
  background-color: #e63946;
  color: white;
}

#logout-button:hover {
  background-color: #d62828;
}

#home-btn {
  background-color: #7091e6;
  color: white;
}

#home-btn:hover {
  background-color: #3d52a0;
}
