body {
  font-family: Arial, sans-seif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  position: relative;
  cursor: pointer;
  border-style: solid;
  border-radius: 8px;
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.grid-item button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
}